.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.menu:hover {
  color: #333;
  transform: scale(1.1);

  a {
    color: #fff;
  }
}

/* .menuList {
  display: flex;
  gap: 16px;
}

.menuItem {
  background-color: #333;
  color: #fff;
  padding: 16px 32px;

  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #fff;
  color: #333;
  transform: scale(1.1);
} */
